body {
    margin: 0;
    background-color: lightgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f7ffff;
}

.title h1 {
    margin: 5px;
    text-align: center;
    color: #414002!important;
    font-weight: bold;
    font-family: 'Oswald', sans-serif!important;
    font-size: 2.2em;
    margin-top: 0px;
}

.Blinkingtext {
    line-height: 1.1;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(225, 4, 37);
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-family: "Noto Serif", serif;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}



.row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.dash{
    display:flex;
    flex-direction: row;
}
.change{
    color : lightseagreen;
    border : solid;
    background-color: lightseagreen;
    margin-right: 2vw;
    padding : 0.2vw;
}
.out{
    color : green;
    border : solid;
    background-color: green;
    margin-right: 2vw;
    padding : 0.2vw;
}


/* 
.row:before {
    display: table;
    content: " ";
}

.col-md-3, .col-md-8{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


h4, .h4 {
    font-size: 18px;
}

h4, .h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.pull-right {
    float: right !important;
} */