* {
    box-sizing: border-box;
}

body {
    width: 100sw;
    margin: 0;
    background-color: lightgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f7ffff;
}

.title h1 {
    margin: 5px;
    text-align: center;
    color: #414002 !important;
    font-weight: bold;
    font-family: "Oswald", sans-serif !important;
    font-size: 2.2em;
    margin-top: 0px;
}

.Blinkingtext {
    line-height: 1.1;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(225, 4, 37);
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "Noto Serif", serif;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.box {
    width: 85%;
    height: 100%;
    /*min-width: 750px;
	max-width: 1170px;
	min-height: 2000px;
	max-height: 3000px;*/
    margin: 0px 0px 20px;

    padding: 19px;
    padding-top: 25px;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 14px;
}

fieldset {
    border: 0;
}

.row {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Logoutbutton {
    background-color: #5cb85c;
    font: 12px;
    text-align: center;
    color: white;
}
.Logoutbutton:hover{
    background-color:  #4ec34e;
}
.Dashboard {
    align-items: center;
}

h4 {
    color: #6739bb;
    font-size: 18px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 1.3em;
    font-family: "Oswald", sans-serif !important;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.p8-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #d6e9c6;
    font-size: 1.3em;
    font-family: "Oswald", sans-serif !important;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.panel-body {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px 15px 10px;
    clear: both;
    content: " ";
}
.p1-s1 .panel-body {
    display: flex;
    .p1-c1 {
        width: 84%;
        margin: 10px;
    }
    .p1-c2 {
        width: 10%;
        margin: 10px;
    }
    flex-direction: row;
}
.Col1 {
    font-size: 12px;
    color: #414002;
    padding: 0px 10px 0px 0px;
    font-family: "Oswald", sans-serif;
}
.Col2 {
    font-size: 12px;
    color: #414002;
    padding: 0px 10px 0px 0px;
    font-family: "Oswald", sans-serif;
}

.oneInARow,
.twoInARow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px 0;

    .inputBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 7.5px;
    }

    label {
        display: flex;
        width: 35%;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        height: 34px;
        width: 60%;
    }
}
.twoInARow .selection {
    border: 1px solid #ccc;
    border-radius: 4px;

    box-sizing: border-box;
    display: flex;
    height: 25px;
    margin-left: 10px;
    width: 65%;
}
.oneInARow {
    .inputBox {
        width: 100%;
    }

    label {
        width: 17.5%;
    }

    input {
        width: 80%;
    }
}

@media screen and (max-width: 949.5px) and (min-width: 600.5px) {
    .box {
        width: 80%;
    }
}

@media screen and (max-width: 949.5px) {
    .oneInARow,
    .twoInARow {
        .inputBox {
            width: 100%;
            flex-direction: column;
        }

        label {
            width: auto;
        }

        input {
            margin: 0 auto;
            width: 90%;
        }
    }
}

label {
    font-size: 1.2em;
    font-family: "Oswald", sans-serif;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #333;
}

.dataTable {
    display: block;
    overflow-x: scroll;
    border-collapse: collapse;

    th {
        border: 1px solid #ccc;
        padding: 15px;
        text-align: left;
        white-space: inherit;
        width: 100vw;
    }

    td {
        width: 100vw;
        border: 1px solid #ccc;
    }

    input {
        margin: 10px;
        margin-bottom: 15px;
        padding: 10px;
        width: calc(100% - 20px);
        min-width: 100px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 34px;
    }
}

.col-md-3 {
    width: calc(300% / 12);
}
.col-md-2 {
    width: calc(200% / 12);
}

.col-md-4 {
    width: calc(400% / 37);
}
.col-md-5 {
    width: calc(300% / 37);
}

.specialization-box {
    width: 50%;
    box-sizing: content-box;
}
.research-area-box {
    width: 50%;
    box-sizing: content-box;
}
/* @media screen and (max-width: 949.5px){
	.bottomsection{
		width: 100%;
	}
} */

.nextButton {
    float: right;
    padding: 6px 12px;
    border: 1px transparent;
    margin: 20px;
    background-color: #5cb85c;
    color: white;
}

.nextButton:hover {
    background-color: #6cc86c;
}

.prevButton {
    font: 20px;
    margin: 20px;
    background-color: #337ab7;
    color: white;
    border: transparent;
    padding: 6px 12px;
}

.prevButton:hover {
    background-color: #97c3e1;
}
.nextButtonfinal {
    float: right;
    padding: 6px 12px;
    border: 1px transparent;
    margin: 20px;
    background-color: #5bc0de;
    color: white;
}

.nextButtonfinal:hover {
    background-color: #5ba0ac;
}

.p3-t1-c1 {
    max-width: calc(100% / 18);
}
.p3-t1-c2 {
    max-width: calc(500% / 18);
}
.p3-t1-c3 {
    max-width: calc(500% / 18);
}
.p3-t1-c4 {
    max-width: calc(300% / 18);
}
.p3-t1-c5 {
    max-width: calc(300% / 18);
}
.p3-t1-c6 {
    max-width: calc(100% / 18);
}

.p3-t2-c1 {
    width: calc(100% / 19);
}
.p3-t2-c2 {
    width: calc(300% / 19);
}
.p3-t2-c3 {
    width: calc(300% / 19);
}
.p3-t2-c4 {
    width: calc(300% / 19);
}
.p3-t2-c5 {
    width: calc(300% / 19);
}
.p3-t2-c6 {
    width: calc(100% / 19);
}
.p3-t2-c7 {
    width: calc(100% / 19);
}
.p3-t2-c8 {
    width: calc(100% / 19);
}

.p3-t4-c1 {
    width: calc(100% / 19);
}
.p3-t4-c2 {
    width: calc(500% / 19);
}
.p3-t4-c3 {
    width: calc(500% / 19);
}
.p3-t4-c4 {
    width: calc(500% / 19);
}
.p3-t4-c5 {
    width: calc(100% / 19);
}
.p3-t4-c6 {
    width: calc(100% / 19);
}
.p3-t4-c7 {
    width: calc(100% / 19);
}

.p3-t5-c1 {
    width: calc(100% / 19);
}
.p3-t5-c2 {
    width: calc(300% / 19);
}
.p3-t5-c3 {
    width: calc(600% / 19);
}
.p3-t5-c4 {
    width: calc(300% / 19);
}
.p3-t5-c5 {
    width: calc(300% / 19);
}
.p3-t5-c6 {
    width: calc(300% / 19);
}

.p4-t1-c1 {
    width: calc(100% / 23);
}
.p4-t1-c2 {
    width: calc(400% / 23);
}
.p4-t1-c3 {
    width: calc(400% / 23);
}
.p4-t1-c4 {
    width: calc(400% / 23);
}
.p4-t1-c5 {
    width: calc(400% / 23);
}
.p4-t1-c6 {
    width: calc(400% / 23);
}
.p4-t1-c7 {
    width: calc(100% / 23);
}
.p4-t1-c8 {
    width: calc(100% / 23);
}

.p4-t2-c1 {
    width: calc(100% / 20);
}
.p4-t2-c2 {
    width: calc(100% / 20);
}
.p4-t2-c3 {
    width: calc(500% / 20);
}
.p4-t2-c4 {
    width: calc(500% / 20);
}
.p4-t2-c5 {
    width: calc(100% / 20);
}
.p4-t2-c6 {
    width: calc(100% / 20);
}
.p4-t2-c7 {
    width: calc(100% / 20);
}
.p4-t2-c8 {
    width: calc(500% / 20);
}

.p4-t3-c1 {
    width: calc(100% / 27);
}
.p4-t3-c2 {
    width: calc(700% / 27);
}
.p4-t3-c3 {
    width: calc(700% / 27);
}
.p4-t3-c4 {
    width: calc(600% / 27);
}
.p4-t3-c5 {
    width: calc(600% / 27);
}

.p4-t4-c1 {
    width: calc(100% / 27);
}
.p4-t4-c2 {
    width: calc(700% / 27);
}
.p4-t4-c3 {
    width: calc(700% / 27);
}
.p4-t4-c4 {
    width: calc(600% / 27);
}
.p4-t4-c5 {
    width: calc(600% / 27);
}

.p5-t1-c1 {
    width: calc(200% / 10);
}
.p5-t1-c2 {
    width: calc(400% / 10);
}
.p5-t1-c3 {
    width: calc(400% / 10);
}

.p5-t2-c1 {
    width: calc(100% / 25);
}
.p5-t2-c2 {
    width: calc(700% / 25);
}
.p5-t2-c3 {
    width: calc(700% / 25);
}
.p5-t2-c4 {
    width: calc(500% / 25);
}
.p5-t2-c5 {
    width: calc(500% / 25);
}

.p5-t3-c1 {
    width: calc(100% / 12);
}
.p5-t3-c2 {
    width: calc(400% / 12);
}
.p5-t3-c3 {
    width: calc(400% / 12);
}
.p5-t3-c4 {
    width: calc(300% / 12);
}

.p5-t4-c1 {
    width: calc(100% / 27);
}
.p5-t4-c2 {
    width: calc(500% / 27);
}
.p5-t4-c3 {
    width: calc(500% / 27);
}
.p5-t4-c4 {
    width: calc(500% / 27);
}
.p5-t4-c5 {
    width: calc(100% / 27);
}
.p5-t4-c6 {
    width: calc(500% / 27);
}
.p5-t4-c7 {
    width: calc(500% / 27);
}

.p5-t5-c1 {
    width: calc(100% / 25);
}
.p5-t5-c2 {
    width: calc(700% / 25);
}
.p5-t5-c3 {
    width: calc(500% / 25);
}
.p5-t5-c4 {
    width: calc(500% / 25);
}
.p5-t5-c5 {
    width: calc(100% / 25);
}
.p5-t5-c6 {
    width: calc(500% / 25);
}
.p5-t5-c7 {
    width: calc(100% / 25);
}

.p6-t1-c1 {
    width: calc(100% / 28);
}
.p6-t1-c2 {
    width: calc(700% / 28);
}
.p6-t1-c3 {
    width: calc(500% / 28);
}
.p6-t1-c4 {
    width: calc(500% / 28);
}
.p6-t1-c5 {
    width: calc(500% / 28);
}
.p6-t1-c6 {
    width: calc(500% / 28);
}

.p6-t2-c1 {
    width: calc(100% / 28);
}
.p6-t2-c2 {
    width: calc(700% / 28);
}
.p6-t2-c3 {
    width: calc(500% / 28);
}
.p6-t2-c4 {
    width: calc(500% / 28);
}
.p6-t2-c5 {
    width: calc(500% / 28);
}
.p6-t2-c6 {
    width: calc(500% / 28);
}

.p6-t3-c1 {
    width: calc(100% / 28);
}
.p6-t3-c2 {
    width: calc(700% / 28);
}
.p6-t3-c3 {
    width: calc(500% / 28);
}
.p6-t3-c4 {
    width: calc(500% / 28);
}
.p6-t3-c5 {
    width: calc(500% / 28);
}
.p6-t3-c6 {
    width: calc(500% / 28);
}


.p8-t1-c1 {
    width: calc(300% / 20);
}
.p8-t1-c2 {
    width: calc(500% / 20);
}
.p8-t1-c3 {
    width: calc(500% / 20);
    .selection{
        border: 1px solid #ccc;
        border-radius: 4px;
    
        box-sizing: border-box;
        display: flex;
        height: 25px;
        margin-left: 10px;
        width: 90%;
    }
}
.p8-t1-c4 {
    width: calc(500% / 20);
}
.p8-t1-c5 {
    width: calc(100% / 20);
}
.p8-t1-c6 {
    width: calc(100% / 20);
}


.p8-b1{
    max-width: 30%;
    margin: 10px;
    justify-content: center;
}
.p8-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}